<font size="3" color='blue'> ASM Golam Sarwar</font>
<nav>
<a href=”https://www.linkedin.com/in/asm-golam-sarwar/">LinkedIn</a>
</nav>

# Import required library

In [ ]:
# Install below additional libraries
!pip install pycaret
!pip install pandas-profiling

In [1]:
import pandas as pd
import os
from pandas_profiling import ProfileReport


# Adjust display max row and column
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Load input file

In [2]:
df_main = pd.read_csv(os.getcwd()+'/input_data/customers.csv')

# Get to know the input file dimension
df_main.shape

(2434863, 37)

In [3]:
# Replace space in the column name
df_main.columns = [c.replace(' ','_') for c in df_main.columns]

In [22]:
df_main.head()

,customer_id,date_of_report,gender,occupation,nationality,race,marital_status,age,home_address,residence_type,educational_qualification,type_of_employment,annual_income,vip_status,number_of_dependents,mobile_app_status,opt_out,customer_with_active_credit_card,current_ca_credit_limit,current_cp_credit_limit,initial_ca_credit_limit,initial_cp_credit_limit,own_multiple_credit_card,supplementary_credit_card,credit_card_branch_location,customer_with_active_prepaid_card,current_prepaid_card_balance,date_of_last_top_up_of_prepaid_card,supplementary_prepaid_card,own_multiple_prepaid_card,prepaid_card_branch_loaction,customer_with_active_financing_product,current_loan_balance,sanctioned_amount,own_multiple_financing_products,financing_product_branch_location,default
0,142932463.0,20220901.0,Female,1d3134e05d4736dd523e8da18153fee1683082c8047194...,522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf7...,3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3...,8623744e832ac4d2479a3de6c827dfb779ddb769de07f0...,29.0,55100,055a952c818647957a80fc28e0537a01d3ad8e909145b4...,NaN,9fb72472a1bfadde532422630d0a0a2531491064f8e9c2...,33144.36,N,3.0,N,N,N,NaN,NaN,NaN,NaN,N,N,-,N,NaN,NaN,N,N,0,Y,2768.56,2221.0,Y,0,0
1,133599134.0,20220901.0,Male,d56baa23c666005144806b1143e76f89d80bb0d5087ac4...,522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf7...,3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3...,8316f8178707dee9ea8c0e44178b4993a37244112fd60a...,26.0,84900,98c723844f9e6aaaa5b2361761bdf8197e0ae4c087c688...,NaN,9fb72472a1bfadde532422630d0a0a2531491064f8e9c2...,21600.00,N,0.0,N,N,N,NaN,NaN,NaN,NaN,N,N,-,N,NaN,NaN,N,N,0,Y,17226.60,15000.0,N,1,0
2,142155191.0,20220901.0,Female,2591e99784666567fe15b2059e3f2050b0e9d1226bde8f...,522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf7...,3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3...,8316f8178707dee9ea8c0e44178b4993a37244112fd60a...,29.0,07000,98c723844f9e6aaaa5b2361761bdf8197e0ae4c087c688...,NaN,9fb72472a1bfadde532422630d0a0a2531491064f8e9c2...,20400.00,N,0.0,N,N,N,NaN,NaN,NaN,NaN,N,N,-,N,NaN,NaN,N,N,0,Y,9306.98,10070.0,N,1,0
3,110561197.0,20220901.0,Female,3c78d9603676c68c5f26d0f4fb2ed5026456cd799b53aa...,522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf7...,83ad5f646c236e5afc36e3f3353c6f6f8ba983653b117d...,8623744e832ac4d2479a3de6c827dfb779ddb769de07f0...,40.0,58000,c81f5b09f595dd05e9ad3b0fa206caf8a92a2f0f154d28...,NaN,9fb72472a1bfadde532422630d0a0a2531491064f8e9c2...,22616.16,N,4.0,N,N,N,NaN,NaN,NaN,NaN,N,N,-,N,NaN,NaN,N,N,0,Y,3118.96,3510.0,Y,2,1
4,850084597.0,20220901.0,Female,0be69302b80664a1f1ada55c8edd5f40cf3d5d23fbb48e...,522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf7...,3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3...,8623744e832ac4d2479a3de6c827dfb779ddb769de07f0...,28.0,43500,fcaa4020673f3cadd8a84f92af02c59f2b586ea2830d6a...,NaN,9fb72472a1bfadde532422630d0a0a2531491064f8e9c2...,31839.12,N,1.0,N,N,N,NaN,NaN,NaN,NaN,N,N,-,N,NaN,NaN,N,N,0,N,NaN,NaN,N,3,0

## EDA of the dataframe

I've used pandas_profiling library here to have a quick view of all the fields and various stats about the field. this library has interactive feature to navigate between matric. you may find the offline file inside **/EDA/output.html** file.

In [17]:
prof = ProfileReport(df_main)
prof.to_file(output_file=os.getcwd()+'/EDA/output.html')

Summarize dataset:   0%|          | 0/50 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
#run below commands if you want to run

# prof

# Data Cleaning

## number_of_dependents

<img src="markdown/number_of_dependents.png" width=1000 height=1000 />

|-- EDA --|
1. I've observerd some extreme values in this field at both end (lower : -1 & Upper: 83), 
2. 48% of customers doesn't have any dependencies.

|-- Proposed cleaning --|

1. Replace -1 with 0 as it is just 32
2. according to www.statista.com average household size is 3.9 (~4), so I'll update all the all value more than 4 as 5 to limit the number of group in this feature
   Ref: https://www.statista.com/statistics/1047856/malaysia-average-household-size/

In [48]:
df_main['_number_of_dependents'] = df_main['number_of_dependents'].apply(lambda X: 0 if X==-1 else 5 if X>4 else X)

# Replace Null will majority class
df_main['_number_of_dependents'].fillna(0,inplace = True)

In [49]:
df_main.groupby('_number_of_dependents').size()

_number_of_dependents
0.0    1114931
1.0     347207
2.0     318779
3.0     231967
4.0     179798
5.0     242181
dtype: int64

In [47]:
df_main[df_main['_number_of_dependents'].isnull()][['_number_of_dependents','number_of_dependents']].head()

       _number_of_dependents  number_of_dependents
3187                     NaN                   NaN
13608                    NaN                   NaN
31276                    NaN                   NaN
50938                    NaN                   NaN
52064                    NaN                   NaN

## gender

<img src="markdown/gender.png" width=1000 height=1000 />

|-- EDA --|
1. 63% customers are male

|-- Proposed cleaning --|

1. Replace Unknown gender as Male (as majority) to limit the category to only Male & Female

In [6]:
df_main['_gender'] = df_main['gender'].apply(lambda X: 'Male' if X== 'Unknown' else X)

In [32]:
df_main.groupby('_gender').size()

_gender
Female     900034
Male      1534829
dtype: int64

## age

<img src="markdown/age.png" width=1000 height=1000 />

|--Sample Data--|

age  
0.0   -      383  
9.0   -       2  
13.0  -       1  
15.0  -       1  
17.0  -       2  
18.0  -     224  
19.0  -    4203  

|-- EDA --|
1. ~400 record having age less than 18 which seems to be wrongly posted.
2. there are customer with age more than 65 years which is un usual for a senior citizen

|-- Proposed cleaning --|
1. update age to 18 who have the age <18
2. Update age to 66 who have the age>65

In [59]:
df_main['_age'] = df_main['age'].apply(lambda X: 18 if X<=18 else 66 if X>65 else X)

In [31]:
df_main[df_main['customer_id']=='270000747.0']['age'].shape

(0, 45)

## race

<img src="markdown/race.png" width=1000 height=1000 />

|--Sample Data--|

race  
3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3194ef49a5f56c676b5 -   1929101  
99b0a2098212fca2a4b7e72c48081e4290f2f75004ba54d402df38647113cacc -    232116  
83ad5f646c236e5afc36e3f3353c6f6f8ba983653b117d5340f9a5248fe11d00 -    181816  
97e44d546f8c88f0a19f0e8db7e2069337b7e6924b7cd230a00710d7b9b53d00 -     91447  
b764cdc0eab7137467211272fa539f1260d1bf2e71bcf6ff3bdc960f5c16aa14 -       383  

|-- EDA --|  
1. there are only 5 race category, better to rename the encrypted value.

|-- Proposed cleaning --|  
1. replace the long encrypted value to a short form for better understanding

In [32]:
_race = {'3d0ac26c46f9daaeaff34affc226f2d86300ede16934f3194ef49a5f56c676b5':'1',
         '99b0a2098212fca2a4b7e72c48081e4290f2f75004ba54d402df38647113cacc':'2',
         '83ad5f646c236e5afc36e3f3353c6f6f8ba983653b117d5340f9a5248fe11d00':'3',
         '97e44d546f8c88f0a19f0e8db7e2069337b7e6924b7cd230a00710d7b9b53d00':'4',
         'b764cdc0eab7137467211272fa539f1260d1bf2e71bcf6ff3bdc960f5c16aa14':'5'}

In [33]:
df_main['_race'] = df_main['race'].apply(lambda X: _race[X])

In [42]:
df_main.groupby('_race').size()

_race
race_1    1929101
race_2     232116
race_3     181816
race_4      91447
race_5        383
dtype: int64

## marital_status

<img src="markdown/marital_status.png" width=1000 height=1000 />

|--Sample Data--|

marital_status  
8623744e832ac4d2479a3de6c827dfb779ddb769de07f0a0b2567f27b6cb45f5  -  1500428  
8316f8178707dee9ea8c0e44178b4993a37244112fd60a0be23dae005a3dca01  -   887912  
10a033a3053ce4de82085eef58d58d9ed93638cb095d4c6747e992305aebdcbf  -    29083  
14a1e8ee89b963b94242cbb2fbfbb1327eb20846632856b18f0562d2218d7371  -    17025  
b764cdc0eab7137467211272fa539f1260d1bf2e71bcf6ff3bdc960f5c16aa14  -      383    

|-- EDA --|  
1. there are only 5 marital_status , better to rename the encrypted value.  
2. there are 32 NaN values  

|-- Proposed cleaning --|    
1. replace the long encrypted value to a short and meaningfull form for better understanding  
2. 32 NaN value will replace with the majority class

In [34]:
## dictionary for maritial status
_marital_status = {'8623744e832ac4d2479a3de6c827dfb779ddb769de07f0a0b2567f27b6cb45f5':'1',
                   '8316f8178707dee9ea8c0e44178b4993a37244112fd60a0be23dae005a3dca01':'2',
                   '10a033a3053ce4de82085eef58d58d9ed93638cb095d4c6747e992305aebdcbf':'3',
                   '14a1e8ee89b963b94242cbb2fbfbb1327eb20846632856b18f0562d2218d7371':'4',
                   'b764cdc0eab7137467211272fa539f1260d1bf2e71bcf6ff3bdc960f5c16aa14':'5'}

In [35]:
## Fill the missing values with the majority class
df_main['marital_status'] = df_main['marital_status'].fillna('8623744e832ac4d2479a3de6c827dfb779ddb769de07f0a0b2567f27b6cb45f5')

In [36]:
df_main['_marital_status'] = df_main['marital_status'].apply(lambda X: _marital_status[X])

In [59]:
df_main.groupby('_marital_status').size()

_marital_status
marital_status_1    1500460
marital_status_2     887912
marital_status_3      29083
marital_status_4      17025
marital_status_5        383
dtype: int64

## residence_type

<img src="markdown/residence_type.png" width=1000 height=1000 />

|--Sample Data--|

residence_type  
ebdad9ba4c5e3ce0078ad8e8fb31e4c76176834cd2370f05bd043e4baf8d6c5a -     9715  
fcaa4020673f3cadd8a84f92af02c59f2b586ea2830d6a078961513287c98dbe -    80307  
a3ccf1236ee8a45f9dd05b9db992f701d0aba9006879742d48ca2f10191bee90 -   165195  
055a952c818647957a80fc28e0537a01d3ad8e909145b4945f40fc6b508b5506 -   207907  
3f61f7d37f20290d7d17f55ce5656469c8d894046147962773153d5bdffc5872 -   449127  
98c723844f9e6aaaa5b2361761bdf8197e0ae4c087c688a3212248e0d40ef4e6 -   735796  
c81f5b09f595dd05e9ad3b0fa206caf8a92a2f0f154d2885451ddf7f09768e6c -   784974  

|-- EDA --|  
1. there are only 7 marital_status , better to rename the encrypted value.  
2. there are 1842 NaN values  

|-- Proposed cleaning --|    
1. replace the long encrypted value to a short and meaningfull form for better understanding  
2. 32 NaN value will replace with the majority class

In [37]:
## dictionary for maritial status
_residence_type = {'c81f5b09f595dd05e9ad3b0fa206caf8a92a2f0f154d2885451ddf7f09768e6c':'1',
                   '98c723844f9e6aaaa5b2361761bdf8197e0ae4c087c688a3212248e0d40ef4e6':'2',
                   '3f61f7d37f20290d7d17f55ce5656469c8d894046147962773153d5bdffc5872':'3',
                   '055a952c818647957a80fc28e0537a01d3ad8e909145b4945f40fc6b508b5506':'4',
                   'a3ccf1236ee8a45f9dd05b9db992f701d0aba9006879742d48ca2f10191bee90':'5',
                   'fcaa4020673f3cadd8a84f92af02c59f2b586ea2830d6a078961513287c98dbe':'6',
                   'ebdad9ba4c5e3ce0078ad8e8fb31e4c76176834cd2370f05bd043e4baf8d6c5a':'7'}

In [38]:
## Fill the missing values with the majority class
df_main['residence_type'] = df_main['residence_type'].fillna('c81f5b09f595dd05e9ad3b0fa206caf8a92a2f0f154d2885451ddf7f09768e6c')

In [39]:
df_main['_residence_type'] = df_main['residence_type'].apply(lambda X: _residence_type[X])

In [40]:
df_main.groupby('_residence_type').size().sort_values()

_residence_type
7      9715
6     80307
5    165195
4    207907
3    449127
2    735796
1    786816
dtype: int64

## type_of_employment

<img src="markdown/type_of_employment.png" width=1000 height=1000 />

|--Sample Data--|

type_of_employment  
9fb72472a1bfadde532422630d0a0a2531491064f8e9c2e6cc706487159c9920 -  2342713  
32f074477f7f9efed2b283e51bf8ae7c641d01ee446f44ab30b609bc916d59c2 -    92150   

|-- EDA --|  
1. there are only 2 type_of_employment category , better to rename the encrypted value.  
2. there are 16469 NaN values  

|-- Proposed cleaning --|    
1. replace the long encrypted value to a short and meaningfull form for better understanding  
2. 32 NaN value will replace with the majority class

In [16]:
## Fill the missing values with the majority class
df_main['type_of_employment'] = df_main['type_of_employment'].fillna('9fb72472a1bfadde532422630d0a0a2531491064f8e9c2e6cc706487159c9920')

In [41]:
## dictionary for type_of_employment
_type_of_employment = {'9fb72472a1bfadde532422630d0a0a2531491064f8e9c2e6cc706487159c9920':'1',
                       '32f074477f7f9efed2b283e51bf8ae7c641d01ee446f44ab30b609bc916d59c2':'2'
                      }

In [42]:
df_main['_type_of_employment'] = df_main['type_of_employment'].apply(lambda X: _type_of_employment[X])

In [43]:
df_main.groupby('_type_of_employment').size().sort_values()

_type_of_employment
2      92150
1    2342713
dtype: int64

## current_loan_balance

<img src="markdown/current_loan_balance.png" width=1000 height=1000 />

|-- EDA --|  
1. ~45% of data is null
2. ~50% of customer doesn't have any outstanding loan

|-- Proposed cleaning --|    
1. replace null will zeroes

In [20]:
df_main['current_loan_balance'] = df_main['current_loan_balance'].fillna(0)

## sanctioned_amount

<img src="markdown/sanctioned_amount.png" width=1000 height=1000 />

|-- EDA --|  
1. ~45% of data is null
2. ~50% of customer doesn't have any sanctioned amount

|-- Proposed cleaning --|    
1. replace null will zeroes

In [24]:
df_main['sanctioned_amount'] = df_main['sanctioned_amount'].fillna(0)

## nationality

<img src="markdown/nationality.png" width=1000 height=1000 />

|-- Sample Data --|  

'522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6'  
'522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6'  
'522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6'  
'522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6'  
'522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6'

|-- EDA --|  
1. majority (99.8%) of the records belong to same nationality

|-- Proposed cleaning --|    
1. Group rest of the nationality into one single group and leave the majority one as it is.

In [44]:
df_main['_nationality'] = df_main['nationality'].apply(lambda X: '1' if X =='522733336a54c81c7cfabcc60dcf26042a4b1d59c4bdf76eafa7c5b79e7e9af6' else '2')

# Export the file for Modelling

Data cleaning has been done, will export the data into csv and proceed for feature engineering and model development.

In [62]:
df_main.to_csv('output_data/customer_after_data_clean.csv',index=False)